einops
hydra-core
# paddlesci
pre_commit
scipy
scikit-learn

# graph network
warp-lang

# output vtk
vtk
meshio
pymeshlab

# log
wandb
tensorboardX

# web viewer
xvfbwrapper
pyvista
stpyvista
streamlit