mode: "train"

hydra:
  run:
    dir: output/lrqsolver_beam/${mode}/${now:%Y-%m-%d-%H-%M-%S}
  job:
    name: ${mode}
    chdir: false
  sweep:
    dir: ${hydra.run.dir}
    subdir: ./

checkpoint: "./output/transformer_beam/best_model.pdparams"
seed: 0
output_dir: ${hydra:run.dir}

model:
  _target_: ppcfd.networks.LRQSolver
  in_dim: 24
  out_dim: 1
  out_num: 1
  hidden_channel: 20
  n_heads: 2
  head_dim: 8
  seqlen: 1
  q_query_dim: 20
  q_input_dim: 4
  q_num_query: 10
  q_num_heads: 2
  q_head_dim: 8
  q_ff_dim: 16
  pseudo_integration: false
  remove_channel_dim: true

data_module:
  _target_: ppcfd.data.BeamDataModule
  input_param_path: ./data/input_params.npy
  output_npz_path: ./data/Outputs_rpt3_N5000.npz
  clip_max: 4.5e8
  scaler_dir: ./data/scalers
  gen_scaler: False

num_workers: 0
batch_size: 16
test_batch_size: 20
out_channels: [1]
out_keys: ["Von_Mises_Stress"]
lr_schedular: null

lr: 2e-3
weight_decay: 0.0
num_epochs: 150000
enable_dp: false
enable_mp: false
enable_pp: false
only_save_sdf: false
lazy_loading: true
val_freq: 2
enable_cinn: false
enable_profiler: false
simulation_type: "Structural"
loss_fn: "MSE"